h1	{
	font-family: trebuchet ms;
	font-size: 23px;
	font-weight: bold;
	color: #670794;
	padding-bottom: 5px;
	width: 480px;
	border-bottom: 5px solid #670794;
}

button {
	width: 100px; 
	height: 100px; 
	margin-bottom: 4px; 
	font-size: 20; 
	color: transparent; 
	font-weight: bold; 
	border: none;
}

#container {
	height: 310px;
	width: 310px;
	margin-top: 25px;
}
